.service_Item{
    padding: 20px;
    background:var(--card-bg-01);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    border-radius: 5px;
}

.service_Item span i{
    font-size: 2.2rem;
    background: var(--primary-color);
    padding: 10px;
    border-radius: 50px;
    color: white;
    font-weight: 400 !important;
}

.service_Item h3{
    color:var(--primary-color);
    font-size: 1.1rem;
    font-weight: 600;

}
.service_Item p{
    color:black;
    font-size: 0.9rem;
   margin-top: 5px;
   
}

