.billing_form .form-group input{
    
    width:100%;
    border: 1px solid var(--card-bg-02);
    border-radius: 5px;
    padding: 20px ;
    height: 25px;
    font-size: large;
}
.checkout_cart{
    padding: 20px;
    background-color:var(--primary-color);
    color:white;
    border-radius: 5px;
}
.checkout_cart h6,h4{
    display: flex;
    justify-content: space-between;
    align-items: center;
 

}
.checkout_cart h6{
  margin-bottom: 20px;
}
.checkout_cart h4{
    border-top: 1px solid rgb(127, 117, 117);
    padding: 8px;
}
.buy_btn.auth_btn{
    font-weight: 400;
    color:black;
    background-color: white;
}