.header{
    width: 100%;
    height:70px;
    line-height: 70px;
}
.nav_wrapper{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    display: flex;
    column-gap: 8px;
}
.logo img{
    width: 40px;
    height: 40px;
}
.logo h1{
   font-size: 1.2rem;
   font-weight: 600;
   color:var(--primary-color)
}
.menu{
    display: flex;
    column-gap: 2.7rem;
    align-items: center;
}
.nav_items a{
    color:var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}
.nav__icons{
    position: relative;
    align-items: center;
    column-gap: 1.2rem;
    display: flex;
}
.nav__icons span i{
    font-size: 1.7rem;
    color: var(--primary-color);
}
/* .nav__icons span img{
    width:30px;
    height:30px
} */
.nav__icons .profile img{
    height: 30px;
    width:30px;
    cursor: pointer;
    border-radius: 50%;
}
.nav_icons .profile{
    position: relative;
    z-index:9;

}
.profile_actions{
    position: absolute;
    top: 98%;
    left:0;
    width: 150px;
    z-index: 10;
    padding: 15px;
    align-items: center;
    flex-direction: column;
    background:pink;
    line-height:30px;
    cursor: pointer;
    /* display: none;
    cursor: pointer; */
}


.mobile__menu{
    font-size: 1.3rem;
    display: none;
    color: var(--primary-color);
}
.nav_active{
    font-weight: 700 !important;
}
.cart__icons,.fav__icon,.notification_icon{
    position: relative;
   

    
}
.badge{
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 18%;
    right: -10%;
    width: 18px;
    height: 18px;
    display: flex;
    text-align: center;
    color: white;
    background-color: red;
    border-radius: 50%;
    font-size: 0.9rem;
    font-weight: 600;
    z-index: 10;
}

/* @media only screen and (max-width:768px) {
    .navigation{
        position: fixed;
        top:0 ;
        left:0;
        width: 100%;
        height:100%;
        background:black ;
        z-index: 9999;
        display: none;
    }
    .menu{
        position: absolute;
        top: 0%;
        right: 0%;
        width: 250px;
        height: 100%;
        background:white ;
        z-index: 9999;
        flex-direction:column;
        align-items: center;
        justify-content: center;
       
    }
    .mobile__menu{
        display: block;
    }
} */